<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="container mt-3">
      <% if (info != '') {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= info %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %> 
      <div>
        <% if (user != undefined) { %>
          <%= user.username %>
          <form action="logout" method="post">
            <button class="btn btn-primary">Logout</button>
          </form>
        <% } else { %>
          <a href="login">Login</a>
        <% } %>
      </div>
        <div class="container-md text-center mt-3">
          <h1>Rank Choice Voting</h1>
          <a href="poll/create" class="btn btn-primary mt-5">Create Poll</a>
        </div>
    </div>
    <%- include('partials/bootstrapMinJS.ejs') %>
    <%- include('partials/reload.ejs') %>
  </body>
</html>
