<% layout('layouts/boilerplate') %>
<style>
  .rankInput{
    width: 4rem;
    display: inline;
  }
</style>
<div class="container my-3">
  <h1 class="text-center"><%= poll.name %></h1>
  <div class="text-center">
    <form action="/poll/<%= poll.webId %>/vote" method="POST">
      <div class="d-inline-block text-start" style="max-width: 700px;">
        <% for(let i=0; i < poll.candidates.length; i++) { %>
          <div class="my-2">
            <input class="form-control rankInput" <% if(poll.currentVoter.votes.length !== 0){ %>
              value="<%= poll.currentVoter.votes[i].rankChoice %>"
            <% } %>
            name="<%=poll.candidates[i].optionNum%>" type="number" id="<%=poll.candidates[i].optionNum%>"
              min="0" max="<%= poll.candidates.length  %>">
            <label class="form-label" for="<%=poll.candidates[i].optionNum%>">
              <%= poll.candidates[i].name %>
            </label>
          </div>
        <% } %>
      </div>
        <div class="my-2">
          <label class="form-label" for="name">Voter name: </label>
          <input class="form-control" type="text" name="name" id="name"
          <% if(poll.currentVoter != undefined){ %>
            value="<%= poll.currentVoter.name %>"
          <% } %>
          style="display: inline; width: 300px;">
        </div>
        <div class="mx-auto text-center">
          <button class="btn btn-primary">Vote</button>
        </div>
    </form>
  </div>
</div>
<%= JSON.stringify(poll) %> 
<br>
