<% layout('layouts/boilerplate') %>
<style>
  .rankInput{
    width: 4rem;
    display: inline;
  }
</style>
<div class="container my-3">
  <% if (messages != '') {%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messages %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %> 
  <h1 class="text-center"><%= poll.name %></h1>
  <div class="text-center" id="error" style="width:auto"></div>
  <div class="text-center">
    <form action="/poll/<%= poll.webId %>/vote" method="POST">
      <div class="d-inline-block text-start" style="max-width: 700px;">
        <% for(let i=0; i < poll.candidates.length; i++) { %>
          <div class="my-2">
            <input class="form-control rankInput"
            <% if (poll.currentVoter && poll.currentVoter.votes[i] !== undefined &&
                poll.currentVoter.votes[i].rankChoice != 0) { %>
              value="<%=  poll.currentVoter.votes[i].rankChoice %>"
            <% } %>
            name="<%=poll.candidates[i].optionNum%>" type="number" id="<%=poll.candidates[i].optionNum%>"
              min="1" max="<%= poll.candidates.length  %>">
            <label class="form-label ms-2" for="<%=poll.candidates[i].optionNum%>">
              <%= poll.candidates[i].name %>
            </label>
          </div>
        <% } %>
      </div>
        <div class="my-2">
          <label class="form-label" for="name">Voter name: </label>
          <input class="form-control ms-2" type="text" name="name" id="name"
          <% if(poll.currentVoter != undefined){ %>
            value="<%= poll.currentVoter.name %>"
          <% } %>
          style="display: inline; width: 300px;">
        </div>
        <div class="mx-auto text-center">
          <button class="btn btn-primary">Vote</button>
        </div>
    </form>
  </div>
  <div>
  <div>
    <button class="btn btn-secondary btn-sm" id="copyUrl">
      Copy poll link
    </button>
    <div class="mt-1 fs-6 fw-light text-success" id="clipboardSuccess">
      Success
    </div>
  </div>
  </div>
</div>
<br>
<script src="/js/js.js"></script>
